@use 'src/variables' as *;

button {
  font-size: 4rem;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.headline {
  background-color: $header-background;
  color: $header-font;
  font-size: 0.8rem;
  word-break: break-word;
  width: 100%;
  min-height: 8rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid-layout {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  gap: 0.5rem;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
