html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "DejaVu Sans", sans-serif;
  background-color: #F2B4AE;
}

button {
  color: #24736B;
  background-color: #F27E88;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 50px;
  margin-bottom: 10px;
  border-radius: 10px;
}

button:disabled {
  background-color: #F2B4AE;
  color: #7B8DA6;
  border: none;
}
