html, body {
  background-color: #F2B4AE;
  font-family: "DejaVu Sans", sans-serif;
  font-size: 1vw;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

button {
  color: #24736B;
  background-color: #F27E88;
  border-radius: 0.5rem;
  border-color: transparent;
  cursor: pointer;
  align-items: center;

  &:hover {
    background-color: #7B8DA6;
  }
}

button:disabled {
  background-color: #F2B4AE;
  color: #7B8DA6;
  border: none;
  cursor: default;
}


