$light-background: #fde8d1;
$header-background: #495606;
$header-font: #fdfcf9;
$btn-background: #c9be88;
$btn-hover-background: #c3672b;
$btn-disabled-background: #d9d2ac;
$btn-disabled-font-color: #cec594;
$font-color-dark: #3a4505;
$font-color-light: #fdfcf9;
$group-container-background: #e8caa9;
$active-group-background: #e87426;
$btn-background-right: #98c988;
$btn-background-right-hover: #80ac71;
$btn-background-wrong: #d9534f;
$btn-background-wrong-hover: #aa2301;
$btn-points-background: #879738;
$winner-headline-bg: #cf910a;
$winner-background: #f4d33e;

//#FF8001 finatix orange
//#3597BA finatix blue
