$light-background: #fde8d1;
$header-background: #495606;
$header-font: #fdfcf9;
$btn-background: #c9be88;
$btn-hover-background: #c3672b;
$btn-disabled-background: #d9d2ac;
$btn-disabled-font-color: #cec594;
$font-color-dark: #3a4505;
$font-color-light: #fdfcf9;

//#FF8001 finatix orange
//#3597BA finatix blue
