<div class="outer-container">
  <div class="inner-container">
    <h2>• {{category}} • {{question?.amount}} •</h2>
    <h1 *ngIf="question?.question" [innerHTML]="question?.question"></h1>
    <!--    question -->
    <ng-container *ngIf="!answered; else answerTemplate">
      <img class="image-size" *ngIf="question?.image" src="{{question?.image}}" alt="{{question?.image}}">
      <button (click)="displayAnswer()">Antwort anzeigen</button>
    </ng-container>

    <!--    answer -->
    <ng-template #answerTemplate>
      <img class="image-size" *ngIf="question?.answerImage" [src]=question?.answerImage alt="{{question?.answerImage}}">
      <h1 id="answer">{{question?.answer}}</h1>
    </ng-template>
  </div>
</div>
