@use "src/variables" as *;

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

.estimation-question {
  color: $btn-hover-background;
}

button {
  width: fit-content;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1.5rem 0.5rem;
  padding: 1rem;
}

.answer-buttons,
.group-buttons {
  button {
    font-size: 1rem;
    margin: 0.5rem 0.5rem;
  }
}

.answer-buttons {
  display: flex;
  align-content: center;
  align-items: center;
  margin-top: 2rem;

  h2 {
    margin-right: 1rem;
    font-size: 2rem;

    &.crossed-out {
      text-decoration: line-through;
    }
  }

  .answer-btn {
    &.right {
      background-color: $btn-background-right;
      &:hover {
        background-color: $btn-background-right-hover;
      }
    }
    &.wrong {
      background-color: $btn-background-wrong;
      color: $font-color-light;
      &:hover {
        background-color: $btn-background-wrong-hover;
      }
    }
  }
}

.group-btn {
  background: none;
  border: solid 1px $btn-background;

  &:hover {
    background: rgba($btn-background, 0.5);
  }

  &.selected {
    background-color: $btn-background; 
  }
}

.outer-container {
  color: $font-color-dark;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-container {
  display: flex;
  height: calc(100% - 3rem);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 5rem;
}

.flex-1 {
  flex: 1 1 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.image-size {
  max-height: 100%;
  max-width: 100%;
}

#answer {
  color: $btn-hover-background;
}

.points-message {
  &.success {
    color: #f0ad4e;
    background: linear-gradient(45deg, #1ad66f, #00a9ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &.fail {
    color: #d9534f;
    background: linear-gradient(45deg, #d9534f, #aa2301);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
