<div class="outer-container">
  <div class="inner-container">
    <h2>• {{category}} • {{question?.amount}} •</h2>
    <h1 *ngIf="question?.question" [innerHTML]="question?.question"></h1>
    <img class="image-size" *ngIf="question?.image || (answered && question?.answerImage)"
         src="{{answered ? question?.answerImage : question?.image }}"
         alt="{{answered ? question?.answerImage : question?.image }}">

    <!--    question -->
    <ng-container *ngIf="!answered; else answerTemplate">
      <button (click)="displayAnswer()">Antwort anzeigen</button>
    </ng-container>

    <!--    answer -->
    <ng-template #answerTemplate>
      <h2 id="answer">{{question?.answer}}</h2>
    </ng-template>
  </div>
</div>
